<h1> DS200A Computer Vision Assignment</h1>

<h2>  Part Two: Exploratory data analysis and feature extraction. </h2>

<h5> In this section, Compute at least 15 such image features (a method for each), including the following (NOTE: At least 10 of these must be scalar features and 2 matrix-based features): (i) image size, (ii) average of the red-channel intensity, (iii) aspectratio. This will require significant explatoratory research and data analysis. The first one is already implemented for you, and the next two are pre-specified. Additional requirements specfied in pdf. </h5>

In [2]:
#Import anything you need here
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib
import skimage
from skimage import data
from skimage import io
from PIL import Image
import os
import cv2

In [3]:
starting_data = pd.read_pickle('starting_data.pkl')
validation_data = pd.read_pickle('validation_data.pkl')

In [4]:
starting_data.head()

,Pictures,Encoding,File Path
0,"[[[255, 255, 255], [255, 255, 255], [255, 255,...",0,20_categories_training\20_categories_training\...
1,"[[[255, 255, 255], [255, 255, 255], [255, 255,...",0,20_categories_training\20_categories_training\...
2,"[[[255, 255, 255], [255, 255, 255], [255, 255,...",0,20_categories_training\20_categories_training\...
3,"[[[174, 190, 187], [173, 189, 186], [172, 188,...",0,20_categories_training\20_categories_training\...
4,"[[[255, 255, 255], [255, 255, 255], [255, 255,...",0,20_categories_training\20_categories_training\...

In [5]:
validation_data.head()

                                            Encoding
0  [[[80, 79, 74], [56, 55, 50], [54, 53, 48], [4...
1  [[[213, 173, 85], [213, 173, 85], [213, 173, 8...
2  [[[19, 36, 30], [14, 31, 25], [11, 26, 21], [1...
3  [[[95, 138, 69], [95, 138, 69], [95, 138, 69],...
4  [[[164, 203, 242], [164, 203, 242], [164, 204,...

In [16]:
img = cv2.imread('20_categories_training\\20_categories_training\\airplanes\\airplanes_0001.jpg')
gray = cv2.cvtColor(img, cv2.COLOR_RGB2GRAY)
gray = np.float32(gray)
dst = cv2.cornerHarris(gray, 2, 3, 0.04)

img[dst>0.01*dst.max()]=[0,0,255]

cv2.imshow('dst', img)
if cv2.waitKey(0) & 0xff == 27:
    cv2.destroyAllWindows()

In [19]:
gray.shape

(164, 398)

In [18]:
dst.shape

(164, 398)

In [45]:
def ft0(image):
    # Input: ndarray of row (height) x column (width) x color (3)
    # Returns: Pixel size of image
    
    h, w, _ = image.shape
    return h, w


def ft1(image):
    # Input: ndarray of row (height) x column (width) x color (3)
    # Returns: Average red-channel intensity for image
    
    return image[:, :, 0].flatten().mean()
    
    
def ft2(image):
    # Input: ndarray of row (height) x column (width) x color (3)
    # Returns: the aspect ratio of the image

    h, w = ft0(image)
    return w/h


def ft3(image):
    gray = cv2.cvtColor(image, cv2.COLORRGB2GRAY)

In [46]:
ft2(starting_data['Pictures'][0])

2.426829268292683

 We expect all external sources sited, and significant indication of EDA.

<h4> Graphs </h4>

<h4> Sources </h4>

<h4> DataFrame Creation </h4>

In [2]:
def feature_frame(df):
    return df
    #Returns data-frame with all the features now inside, and calculated

In [3]:
feature_frame(data_from_nb1)

NameError: name 'starting_data' is not defined